@model LibraryApp.Models.Librarian

@{
    ViewData["Title"] = "Edytuj bibliotekarza";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Login" />
            <input type="hidden" asp-for="LoginNavigation.Login" />
            <input type="hidden" asp-for="LoginNavigation.Password" />
            <input type="hidden" asp-for="LoginNavigation.ConfirmPassword" value="@Model.LoginNavigation.Password" />
            <div class="form-group">
                <label asp-for="LoginNavigation.FirstName" class="control-label">Imię</label>
                <input asp-for="LoginNavigation.FirstName" class="form-control" />
                <span asp-validation-for="LoginNavigation.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginNavigation.LastName" class="control-label">Nazwisko</label>
                <input asp-for="LoginNavigation.LastName" class="form-control" />
                <span asp-validation-for="LoginNavigation.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BranchNumber" class="control-label">Filia</label>
                <select asp-for="BranchNumber" class="form-control" asp-items="ViewBag.BranchNumber"></select>
                <span asp-validation-for="BranchNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentDate" class="control-label">Data zatrudnienia</label>
                <input asp-for="EmploymentDate" class="form-control" />
                <span asp-validation-for="EmploymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary mb-2" />
                <button class="btn btn-secondary mb-2" asp-action="Index" formnovalidate>Anuluj</button>
                <div>
                    @if (ViewBag.errMsg != null) {
                        <span class="text-danger">@ViewBag.errMsg</span>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
