@{
    ViewData["Title"] = "Strona główna";
}


<img src="~/images/reader.jpg" class="img-fluid my-4" alt="Responsive image">

<div class="row mt-2">
    <div class="col-md-4 col-md-offset-1">
        <h2>Zarejestruj się</h2>
        <ul>
            <li>Znajdź filię z interesującą Cię książką</li>
            <li>Sprawdzaj dostępność książek</li>
            <li>Rezerwuj książki online</li>
        </ul>
    </div>
    <div class="col-md-4 col-md-offset-2">
        <h2>Dołącz do zespołu IT</h2>
        <ul>
            <li>Atrakcyjne wynagrodzenie</li>
            <li>Ubezpieczenie zdrowotne</li>
            <li>Inne cuda na kiju</li>
        </ul>
    </div>
</div>