@model LibraryApp.Models.Reader

@{
    ViewData["Title"] = "Zarejestruj się";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoginNavigation.Login" class="control-label">Login</label>
                <input asp-for="LoginNavigation.Login" class="form-control" />
                <span asp-validation-for="LoginNavigation.Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginNavigation.Password" class="control-label">Hasło</label>
                <input asp-for="LoginNavigation.Password" class="form-control" />
                <span asp-validation-for="LoginNavigation.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginNavigation.ConfirmPassword" class="control-label">Potwierdź hasło</label>
                <input asp-for="LoginNavigation.ConfirmPassword" class="form-control" />
                <span asp-validation-for="LoginNavigation.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginNavigation.FirstName" class="control-label">Imię</label>
                <input asp-for="LoginNavigation.FirstName" class="form-control" />
                <span asp-validation-for="LoginNavigation.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginNavigation.LastName" class="control-label">Nazwisko</label>
                <input asp-for="LoginNavigation.LastName" class="form-control" />
                <span asp-validation-for="LoginNavigation.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label">Data urodzenia</label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary mb-2" />
                <button class="btn btn-secondary mb-2" asp-action="Index" formnovalidate>Anuluj</button>
                <div>
                    @if (ViewBag.errMsg != null) {
                        <span class="text-danger">@ViewBag.errMsg</span>
                    }
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
