@model Library_WebApp.Models.BookDataViewModel

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout_Logged_In.cshtml";
}

<h2>Dane Książki</h2>

<h4>Książka</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="addBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="book.name" class="control-label"></label>
                <input asp-for="book.name" class="form-control" />
                <span asp-validation-for="book.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="book.genre" class="control-label"></label>
                @Html.DropDownListFor(m => m.book.genre, Model.Genres, "Wybierz gatunek", new { @class = "form-control" })
                <span asp-validation-for="book.genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <input type="submit" value="Zatwierdź" class="btn btn-default" />
                </div>
                @if (ViewBag.errMsg != null)
                {
                    <span class="text-danger">@ViewBag.errMsg</span>
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć na stronę główną</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
