@model Library_WebApp.Models.BorrowDataViewModel

@{
    ViewData["Title"] = "addBorrow";
    Layout = "~/Views/Shared/_Layout_Logged_In.cshtml";
}

<h2>Dane Wypożyczenia</h2>

<h4>Wypożyczenie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="addBorrow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="borrow.borrowDate" class="control-label">data wypożyczenia</label>
                <input asp-for="borrow.borrowDate" class="form-control" />
                <span asp-validation-for="borrow.borrowDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="borrow.returnDate" class="control-label">data zwrotu</label>
                <input asp-for="borrow.returnDate" class="form-control" />
                <span asp-validation-for="borrow.returnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="borrow.volumeId" class="control-label">id woluminu</label>
                @Html.DropDownListFor(m => m.borrow.volumeId, Model.Volumes, "Wybierz książkę", new { @class = "form-control" })
                <span asp-validation-for="borrow.volumeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="borrow.userLogin" class="control-label">login użytkownika</label>
                <input asp-for="borrow.userLogin" class="form-control" />
                <span asp-validation-for="borrow.userLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zatwierdź" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć na stronę główną</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
