@model Library_WebApp.Models.LibraryBranch
@{
    ViewData["Title"] = "addLibraryBranch";
    Layout = "~/Views/Shared/_Layout_Logged_In.cshtml";
}

<h2>Dane Filii</h2>

<h4>Filia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="addProperty">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="number" class="control-label"></label>
                <input asp-for="number" class="form-control" min="1" />
                <span asp-validation-for="number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label">Nazwa filii</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address.street" class="control-label"></label>
                <input asp-for="address.street" class="form-control" />
                <span asp-validation-for="address.street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address.buildingNr" class="control-label"></label>
                <input asp-for="address.buildingNr" class="form-control" min="1" />
                <span asp-validation-for="address.buildingNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address.Country" class="control-label"></label>
                <input asp-for="address.Country" class="form-control" />
                <span asp-validation-for="address.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address.City" class="control-label"></label>
                <input asp-for="address.City" class="form-control" />
                <span asp-validation-for="address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address.zipCode" class="control-label">Kod pocztowy(xx-xxx)</label>
                <input asp-for="address.zipCode" class="form-control" />
                <span asp-validation-for="address.zipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <input type="submit" value="Zatwierdź" class="btn btn-default" />
                </div>
                @if (ViewBag.errMsg != null)
                {
                    <span class="text-danger">@ViewBag.errMsg</span>
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć na stronę główną</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}