@model Library_WebApp.Models.Property

@{
    ViewData["Title"] = "addProperty";
    Layout = "~/Views/Shared/_Layout_Logged_In.cshtml";
}

<h2>Dane Własności</h2>

<h4>Własność</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="addProperty">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="authorFirstName" class="control-label">autor</label>
                @Html.DropDownListFor(m => m.authorFirstName, Model.Authors, "Wybierz autora", new { @class = "form-control" })
                <span asp-validation-for="authorFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="title" class="control-label">książka</label>
                @Html.DropDownListFor(m => m.title, Model.Books, "Wybierz książkę", new { @class = "form-control" })
                <span asp-validation-for="title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć na stronę główną</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
