@model Library_WebApp.Models.VolumeDataViewModel

@{
    ViewData["Title"] = "addVolume";
    Layout = "~/Views/Shared/_Layout_Logged_In.cshtml";
}

<h2>Dane Egzemplarza</h2>

<h4>Egzemplarz</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="addVolume">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="volume.editionId" class="control-label">Wydanie</label>
                @Html.DropDownListFor(m => m.volume.editionId, Model.Editions, "Wybierz wydanie", new { @class = "form-control" })
                <span asp-validation-for="volume.editionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="volume.libraryBranchId" class="control-label"></label>
                @Html.DropDownListFor(m => m.volume.libraryBranchId, Model.LibraryBranchIds, "Wybierz numer filii", new { @class = "form-control" })
                <span asp-validation-for="volume.libraryBranchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="volume.condition" class="control-label">Stan egzemplarza</label>
                <input asp-for="volume.condition" class="form-control" />
                <span asp-validation-for="volume.condition" class="text-danger"></span>
            </div>
            <div class="form-group">

            </div>
            <div class="form-group">
                <div class="row">
                    <input type="submit" value="Zatwierdź" class="btn btn-default" />
                </div>
                @if (ViewBag.errMsg != null)
                {
                    <span class="text-danger">@ViewBag.errMsg</span>
                }
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Wróć na stronę główną</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
